.box1
{
    
    border: 5px solid #B08968;
    background-color: #EDE0D4;
    height: 50%;
    width: 915.5px;
    margin-left: 470px;
    line-height: 5;
    padding: 1%;
    margin-top: 1%;
    
}

.boxMenu
{
    
    border: 5px solid #B08968;
    background-color: #EDE0D4;
    height: 50%;
    width: 33%;
    text-align: center;
    margin-left: 470px;
    line-height: 5;
    padding: 1%;
    margin-top: 1%;
    
}




.box2
{
    border: 5px solid #B08968;
    border-bottom: 3px solid #B08968;
    background-color: #EDE0D4;
    height: 40px;
    width: 90%;
    text-align: center;
    line-height: 1.5;
    padding: 1%;

}

.box3
{
    border: 5px solid #B08968;
    border-top: 2px solid #B08968;
    background-color: #EDE0D4;
    height: 40px;
    width: 90%;
    text-align: center;
    line-height: 1.5;
    padding: 1%;
}


.boxback
{
    
    background-color: #EDE0D4;
    height: 100 px;
    width: 11%;
    text-align: center;
    line-height: 2;
    padding: 10px;
    padding-right: 4px;
    margin-top: 10px;
    
}


.space
{
    white-space: pre-line;
    white-space: nowrap;
}



.header
{
    background-color: beige; /* Example background color */
    color: white; /* Example text color */
    padding: 20px; /* Example padding */
    margin: -8px;

}

.header-bar 
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: -20px;
    background-color:#EDE0D4;
    border-bottom: 5px solid #B08968;
}


.Home {
    color: black;
    margin: 0;
}